<template>
  <div>
    <h2>Add Task Here</h2>
    <form class="center" @submit="addTodo">
      <input type="text" v-model="title" name="title">
      <button type="submit" :disabled="isDisabled">Add</button>
      <button @click="clearTitle">Clear</button>
    </form>
  </div>
</template>

<script>
import {v4 as uuid} from 'uuid'

export default {
  name: 'AddTodo',
  data(){
    return{
      title: ''
    }
  },
  computed: {
    isDisabled(){
      return this.title.length == 0
    }
  },
  methods: {
    addTodo(event){
      event.preventDefault();

      const newTodo = {
        id: uuid(),
        title: this.title,
        done: false
      }
      console.log(newTodo)
      this.$emit('add-todo', newTodo);
      this.title = '';
    },
    clearTitle(event){
      event.preventDefault();
      this.title = '';
    }
  }
}
</script>

<style>
  @import '../assets/styles.css';
</style>