<template>
  <div>
    <h2>Edit Task Here</h2>
    <form class="center" @submit="editTodo">
      <input type="text" v-model="title" name="title">
      <button type="submit">Edit</button>
      <button @click="clearTitle">Clear</button>
      <button><router-link to='/'>Back</router-link></button>
    </form>
  </div>
</template>

<script>

export default {
  name: 'EditTodo',
  props: {
    todo: {type: Object, required: true}
  },
  data(){
    return{
      title: this.todo.title
    }
  },
  computed: {
    isDisabled(){
      return this.title.length == 0
    }
  },
  methods: {
    editTodo(event){
      event.preventDefault();

      const editedTodo = {
        id: this.todo.id,
        title: this.title,
        done: this.todo.done
      }
      console.log(editedTodo)
      this.$emit('edit-todo', editedTodo);
    },
    clearTitle(event){
      event.preventDefault();
      this.title = '';
    }
  }
}
</script>

<style>
  @import '../assets/styles.css';
</style>