<template>
  <div>
    <p> {{ todo.title }} </p>
    <p> {{ updatedStatus }} </p>
    <button v-if="!this.todo.done" @click="completeTask">Finish!</button>
    <button @click="deleteTask(todo.id)">Delete Task</button>
    <button @click="editBox(todo)"><router-link to="/edit"> Edit Task</router-link></button>
  </div>
</template>

<script>
export default {
  name: 'Todo',
  props: {
    todo: {type: Object, required: true}
  },
  computed:{
    updatedStatus(){
      if( this.todo.done){
        return "Completed"
      }else{
        return "Pending..."
      }
    }
  },
  methods: {
    completeTask(event){
      event.preventDefault();
      this.todo.done = true;
    },
    deleteTask(id){
      this.$emit('delete-todo', id)
    },
    editBox(todo){
      console.log("hiyo")
      this.$emit('edit-box', todo)
    }
  }
}
</script>

<style scope>
</style>