<template>
  <div>
    <h2>To Do List</h2>
    <ul>
      <li :key="todo.id" v-for="todo in todos">
        <Todo :todo="todo" @delete-todo="deleteTask" @edit-box="editBox"></Todo>
      </li>
    </ul>
    <p>{{ statusSummary }}</p>
  </div>
</template>

<script>
import Todo from './Todo'

export default {
  name: 'Todos',
  components:{
    Todo
  },
  props:{
    todos: {type: Array, required: true}
  },
  computed:{
    statusSummary(){
      //use some 
      if( this.todos.length > 0){
        const temp = this.todos.filter(todo => !todo.done);
        if( temp.length > 0){
          return `You have ${temp.length} stuff to do. Stop lazing around D:<`
        }else{
          return "Wow, all done! :DD"
        }
      }else{
        return "List is empty DD:"
      }
      

    }
  },
  methods:{
    deleteTask(id){
      this.$emit('delete-todo', id);
    },
    editBox(todo){
      console.log("yo");
      this.$emit('edit-box', todo);
    }
  }
}
</script>

<style>
  @import '../assets/styles.css';
</style>