<template>
  <div id="app" class='row'>
    <div class='col-lg-6 col-sm-12 box'>
      <Todos :todos="todos" @delete-todo="deleteTodo" @edit-box="editBox"></Todos>
    </div>
    <div class='col-lg-5 col-sm-12 box'>
      <router-view :todo="todo" @add-todo="addTodo" @edit-todo="editTodo"></router-view>
    </div>
   
  </div>
</template>

<script>
import Todos from './components/Todos';
// import AddTodo from './components/AddTodo';

export default {
  name: 'app',
  components: {
    Todos,
    // AddTodo
  },
  data(){
    return{
      todos: [],
      todo: {}
    }
  },
  methods: {
    addTodo( newTodo){
      this.todos.push(newTodo);
    },
    deleteTodo( id){
      this.todos = this.todos.filter(todo => todo.id !== id);
    },
    editBox( todo){
      this.todo = todo;
    },
    editTodo( etodo){
      const temp = this.todos.filter(t => t.id === etodo.id)[0];
      const index = this.todos.indexOf(temp);

      this.todos[index] = etodo;
      console.log(this.todos)
    }
  }
}
</script>

<style>
  @import './assets/styles.css';
</style>
